<h1>Coffee Trends</h1>

In [107]:
import pandas as pd
from ydata_profiling import ProfileReport
from datetime import datetime

In [108]:
coffeePriceTrends = pd.read_excel("../Datasets/Price_Trend_1992_93_2015_USD.xls")

In [109]:
coffeePriceTrends = coffeePriceTrends.drop(['Unnamed: 0', 'Unnamed: 9'],
                      axis=1,
                      )

In [110]:
coffeePriceTrends

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,AVERAGE PRICES PAID TO FARMERS AND PROCESSORS ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DEC 2013 IN UGANDA SHILLINGS PER KILOGRAM (U ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Shs,NaN,NaN,NaN,$,NaN,NaN
3,MONTH,ROBUSTA KIBOKO,ROBUSTA FAQ,ARABICA PARCHMENT,EX.RATE Sh/Kg,ROBUSTA KIBOKO,ROBUSTA FAQ,ARABICA PARCHMENT
4,1992-07-01 00:00:00,210,420,499,1177.86,0.178289,0.356579,0.42365
...,...,...,...,...,...,...,...,...
280,2015-07-01 00:00:00,2200,4350,5850,3360.09,0.654744,1.294608,1.741025
281,2015-08-01 00:00:00,2200,4500,6250,3548.25,0.620024,1.268231,1.761432
282,2015-09-01 00:00:00,2150,4250,5750,3667.5,0.58623,1.158828,1.567825
283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,Source: UCDA Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
columnNames = coffeePriceTrends.loc[3].tolist()

In [112]:
columnNames

['MONTH',
 'ROBUSTA KIBOKO',
 'ROBUSTA FAQ',
 'ARABICA PARCHMENT',
 'EX.RATE Sh/Kg',
 'ROBUSTA KIBOKO',
 'ROBUSTA FAQ',
 'ARABICA PARCHMENT']

In [113]:
coffeePriceTrends.drop(coffeePriceTrends.index[:4], inplace=True,
                       axis=0,
                      )

In [114]:
coffeePriceTrends['Unnamed: 1']

4        1992-07-01 00:00:00
5        1992-08-01 00:00:00
6        1992-09-01 00:00:00
7        1992-10-01 00:00:00
8        1992-11-01 00:00:00
               ...
280      2015-07-01 00:00:00
281      2015-08-01 00:00:00
282      2015-09-01 00:00:00
283                      NaN
284    Source: UCDA Database
Name: Unnamed: 1, Length: 281, dtype: object

In [115]:
oldColumnNames = coffeePriceTrends.columns.tolist()

In [116]:
oldColumnNames

['Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8']

In [117]:
{oldColumnNames[x]:columnNames[x] for x in range(len(columnNames))}

{'Unnamed: 1': 'MONTH',
 'Unnamed: 2': 'ROBUSTA KIBOKO',
 'Unnamed: 3': 'ROBUSTA FAQ',
 'Unnamed: 4': 'ARABICA PARCHMENT',
 'Unnamed: 5': 'EX.RATE Sh/Kg',
 'Unnamed: 6': 'ROBUSTA KIBOKO',
 'Unnamed: 7': 'ROBUSTA FAQ',
 'Unnamed: 8': 'ARABICA PARCHMENT'}

In [118]:
columnNames

['MONTH',
 'ROBUSTA KIBOKO',
 'ROBUSTA FAQ',
 'ARABICA PARCHMENT',
 'EX.RATE Sh/Kg',
 'ROBUSTA KIBOKO',
 'ROBUSTA FAQ',
 'ARABICA PARCHMENT']

In [119]:
coffeePriceTrends = coffeePriceTrends.rename(columns={oldColumnNames[x]:columnNames[x] for x in range(len(columnNames))})

In [120]:
coffeePriceTrends = coffeePriceTrends.set_index('MONTH')

In [140]:
coffeePriceTrends.iloc[103]

UGX      ROBUSTA KIBOKO               300
         ROBUSTA FAQ                  770
         ARABICA PARCHMENT           1250
EX.RATE  EX.RATE Sh/Kg        1742.966316
USD      ROBUSTA KIBOKO           0.17212
         ROBUSTA FAQ             0.441776
         ARABICA PARCHMENT       0.717168
Name: Feb-01, dtype: object

In [122]:
index = pd.MultiIndex.from_arrays([["UGX", "UGX", "UGX", "EX.RATE", "USD", "USD", "USD"],
                                   ["ROBUSTA KIBOKO", "ROBUSTA FAQ", "ARABICA PARCHMENT", "EX.RATE Sh/Kg", "ROBUSTA KIBOKO", "ROBUSTA FAQ", "ARABICA PARCHMENT"]])

In [123]:
coffeePriceTrends.columns = index

In [124]:
coffeePriceTrends

                                 UGX                                \
                      ROBUSTA KIBOKO ROBUSTA FAQ ARABICA PARCHMENT
MONTH
1992-07-01 00:00:00              210         420               499
1992-08-01 00:00:00              220         440               500
1992-09-01 00:00:00              215         400               502
1992-10-01 00:00:00              225         450               510
1992-11-01 00:00:00              250         500               550
...                              ...         ...               ...
2015-07-01 00:00:00             2200        4350              5850
2015-08-01 00:00:00             2200        4500              6250
2015-09-01 00:00:00             2150        4250              5750
NaN                              NaN         NaN               NaN
Source: UCDA Database            NaN         NaN               NaN

                            EX.RATE            USD              \
                      EX.RATE Sh/Kg ROBUSTA KIBOKO ROBUSTA FAQ
MONTH
1992-07-01 00:00:00         1177.86       0.178289    0.356579
1992-08-01 00:00:00         1185.29       0.185609    0.371217
1992-09-01 00:00:00         1185.15       0.181412     0.33751
1992-10-01 00:00:00         1181.07       0.190505     0.38101
1992-11-01 00:00:00         1196.34       0.208971    0.417941
...                             ...            ...         ...
2015-07-01 00:00:00         3360.09       0.654744    1.294608
2015-08-01 00:00:00         3548.25       0.620024    1.268231
2015-09-01 00:00:00          3667.5        0.58623    1.158828
NaN                             NaN            NaN         NaN
Source: UCDA Database           NaN            NaN         NaN


                      ARABICA PARCHMENT
MONTH
1992-07-01 00:00:00             0.42365
1992-08-01 00:00:00            0.421838
1992-09-01 00:00:00            0.423575
1992-10-01 00:00:00            0.431812
1992-11-01 00:00:00            0.459736
...                                 ...
2015-07-01 00:00:00            1.741025
2015-08-01 00:00:00            1.761432
2015-09-01 00:00:00            1.567825
NaN                                 NaN
Source: UCDA Database               NaN

[281 rows x 7 columns]

<h3>Dataset Profiling</h3>

In [125]:
# stats = []
# for cl in coffeePriceTrends.columns:
#     stats.append((cl,
#                   coffeePriceTrends[cl].nunique(),
#                   coffeePriceTrends[cl].isnull().sum(),
#                   coffeePriceTrends[cl].isnull().sum() * 100 / coffeePriceTrends.shape[0],
#                   coffeePriceTrends[cl].value_counts(normalize=True, dropna=False).values[0] * 100,
#                   coffeePriceTrends[cl].dtype))
# stats_df = pd.DataFrame(stats, columns=['Feature',
#                                         'Unique Values',
#                                         'Missing Values',
#                                         'Missing Values [%]',
#                                         'Values in the biggest category [%]',
#                                         'Datatype'])
# stats_df.sort_values('Missing Values [%]', ascending=False)

In [126]:
# ProfileReport(coffeePriceTrends,
#                                 title="Coffee",
#                             )

<h3>Time Series</h3>

<ul>To Do</ul>
<li>Manipulate the Month Index to uniform format</li>
<li>Convert Index to format yyyy-mm-dd</li>
<li>Calculate mean values for year and month</li>
<li>...</li>

In [127]:
# Datetime index yyyy-mm-dd
# Get
coffeePriceTrends = coffeePriceTrends.dropna()

In [128]:
pd.to_datetime(datetime.now(), format="yyyy-mm-dd")

Timestamp('2024-06-01 11:06:17.813484')

In [129]:
# datetime.now()[:54]

In [147]:
# index = coffeePriceTrends.index
# coffeePriceTrends.index.to_period("M")

In [131]:
df = pd.DataFrame({"y": [1, 2, 3]},
                  index=pd.to_datetime(["2000-03-31 00:00:00",
                                       "2000-05-31 00:00:00",
                                        "2000-08-31 00:00:00"]))

In [146]:
coffeePriceTrends.index.tolist()

[datetime.datetime(1992, 7, 1, 0, 0),
 datetime.datetime(1992, 8, 1, 0, 0),
 datetime.datetime(1992, 9, 1, 0, 0),
 datetime.datetime(1992, 10, 1, 0, 0),
 datetime.datetime(1992, 11, 1, 0, 0),
 datetime.datetime(1992, 12, 1, 0, 0),
 datetime.datetime(1993, 1, 1, 0, 0),
 datetime.datetime(1993, 2, 1, 0, 0),
 datetime.datetime(1993, 3, 1, 0, 0),
 datetime.datetime(1993, 4, 1, 0, 0),
 datetime.datetime(1993, 5, 1, 0, 0),
 datetime.datetime(1993, 6, 1, 0, 0),
 datetime.datetime(1993, 7, 1, 0, 0),
 datetime.datetime(1993, 8, 1, 0, 0),
 datetime.datetime(1993, 9, 1, 0, 0),
 datetime.datetime(1993, 10, 1, 0, 0),
 datetime.datetime(1993, 11, 1, 0, 0),
 datetime.datetime(1993, 12, 1, 0, 0),
 datetime.datetime(1994, 1, 1, 0, 0),
 datetime.datetime(1994, 2, 1, 0, 0),
 datetime.datetime(1994, 3, 1, 0, 0),
 datetime.datetime(1994, 4, 1, 0, 0),
 datetime.datetime(1994, 5, 1, 0, 0),
 datetime.datetime(1994, 6, 1, 0, 0),
 datetime.datetime(1994, 7, 1, 0, 0),
 datetime.datetime(1994, 8, 1, 0, 0),
 datetime.datetime(1994, 9, 1, 0, 0),
 datetime.datetime(1994, 10, 1, 0, 0),
 datetime.datetime(1994, 11, 1, 0, 0),
 datetime.datetime(1994, 12, 1, 0, 0),
 datetime.datetime(1995, 1, 1, 0, 0),
 datetime.datetime(1995, 2, 1, 0, 0),
 datetime.datetime(1995, 3, 1, 0, 0),
 datetime.datetime(1995, 4, 1, 0, 0),
 datetime.datetime(1995, 5, 1, 0, 0),
 datetime.datetime(1995, 6, 1, 0, 0),
 datetime.datetime(1995, 7, 1, 0, 0),
 datetime.datetime(1995, 8, 1, 0, 0),
 datetime.datetime(1995, 9, 1, 0, 0),
 datetime.datetime(1995, 10, 1, 0, 0),
 datetime.datetime(1995, 11, 1, 0, 0),
 datetime.datetime(1995, 12, 1, 0, 0),
 datetime.datetime(1996, 1, 1, 0, 0),
 datetime.datetime(1996, 2, 1, 0, 0),
 datetime.datetime(1996, 3, 1, 0, 0),
 datetime.datetime(1996, 4, 1, 0, 0),
 datetime.datetime(1996, 5, 1, 0, 0),
 datetime.datetime(1996, 6, 1, 0, 0),
 datetime.datetime(1996, 7, 1, 0, 0),
 datetime.datetime(1996, 8, 1, 0, 0),
 datetime.datetime(1996, 9, 1, 0, 0),
 datetime.datetime(1996, 10, 1, 0, 0),
 datetime.datetime(1996, 11, 1, 0, 0),
 datetime.datetime(1996, 12, 1, 0, 0),
 datetime.datetime(1997, 1, 1, 0, 0),
 datetime.datetime(1997, 2, 1, 0, 0),
 datetime.datetime(1997, 3, 1, 0, 0),
 datetime.datetime(1997, 4, 1, 0, 0),
 datetime.datetime(1997, 5, 1, 0, 0),
 datetime.datetime(1997, 6, 1, 0, 0),
 datetime.datetime(1997, 7, 1, 0, 0),
 datetime.datetime(1997, 8, 1, 0, 0),
 datetime.datetime(1997, 9, 1, 0, 0),
 datetime.datetime(1997, 10, 1, 0, 0),
 datetime.datetime(1997, 11, 1, 0, 0),
 datetime.datetime(1997, 12, 1, 0, 0),
 datetime.datetime(1998, 1, 1, 0, 0),
 datetime.datetime(1998, 2, 1, 0, 0),
 datetime.datetime(1998, 3, 1, 0, 0),
 datetime.datetime(1998, 4, 1, 0, 0),
 datetime.datetime(1998, 5, 1, 0, 0),
 datetime.datetime(1998, 6, 1, 0, 0),
 datetime.datetime(1998, 7, 1, 0, 0),
 datetime.datetime(1998, 8, 1, 0, 0),
 datetime.datetime(1998, 9, 1, 0, 0),
 datetime.datetime(1998, 10, 1, 0, 0),
 datetime.datetime(1998, 11, 1, 0, 0),
 datetime.datetime(1998, 12, 1, 0, 0),
 datetime.datetime(1999, 1, 1, 0, 0),
 datetime.datetime(1999, 2, 1, 0, 0),
 datetime.datetime(1999, 3, 1, 0, 0),
 datetime.datetime(1999, 4, 1, 0, 0),
 datetime.datetime(1999, 5, 1, 0, 0),
 datetime.datetime(1999, 6, 1, 0, 0),
 datetime.datetime(1999, 7, 1, 0, 0),
 datetime.datetime(1999, 8, 1, 0, 0),
 datetime.datetime(1999, 9, 1, 0, 0),
 datetime.datetime(1999, 10, 1, 0, 0),
 datetime.datetime(1999, 11, 1, 0, 0),
 datetime.datetime(1999, 12, 1, 0, 0),
 datetime.datetime(2000, 1, 1, 0, 0),
 datetime.datetime(2000, 2, 1, 0, 0),
 datetime.datetime(2000, 3, 1, 0, 0),
 datetime.datetime(2000, 4, 1, 0, 0),
 datetime.datetime(2000, 5, 1, 0, 0),
 datetime.datetime(2000, 6, 1, 0, 0),
 datetime.datetime(2000, 7, 1, 0, 0),
 datetime.datetime(2000, 8, 1, 0, 0),
 datetime.datetime(2000, 9, 1, 0, 0),
 datetime.datetime(2000, 10, 1, 0, 0),
 datetime.datetime(2000, 11, 1, 0, 0),
 datetime.datetime(2000, 12, 1, 0, 0),
 datetime.datetime(2001, 1, 1, 0, 0),
 'Feb-01',
 datetime.datetime(2001, 3, 1, 0, 0),
 'Apr-01',
 'May-01',
 'Jun-01',
 datetime.datetime(2001, 7, 1, 0, 0),
 datetime.datetime(2001, 8, 1, 0, 0),
 datetime.datetime(2001, 9, 1, 0, 0),
 datetime.datetime(2001, 10, 1, 0, 0),
 datetime.datetime(2001, 11, 1, 0, 0),
 datetime.datetime(2001, 12, 1, 0, 0),
 datetime.datetime(2002, 1, 1, 0, 0),
 datetime.datetime(2002, 2, 1, 0, 0),
 datetime.datetime(2002, 3, 1, 0, 0),
 datetime.datetime(2002, 4, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 6, 1, 0, 0),
 datetime.datetime(2002, 7, 1, 0, 0),
 datetime.datetime(2002, 8, 1, 0, 0),
 datetime.datetime(2002, 9, 1, 0, 0),
 datetime.datetime(2002, 10, 1, 0, 0),
 datetime.datetime(2002, 11, 1, 0, 0),
 datetime.datetime(2002, 12, 1, 0, 0),
 datetime.datetime(2003, 1, 1, 0, 0),
 datetime.datetime(2003, 2, 1, 0, 0),
 datetime.datetime(2003, 3, 1, 0, 0),
 datetime.datetime(2003, 4, 1, 0, 0),
 datetime.datetime(2003, 5, 1, 0, 0),
 datetime.datetime(2003, 6, 3, 0, 0),
 'Jul-03',
 'Aug-03',
 'Sep-03',
 'Oct-03',
 'Nov-03',
 'Dec-03',
 datetime.datetime(2004, 1, 4, 0, 0),
 datetime.datetime(2004, 2, 4, 0, 0),
 datetime.datetime(2004, 3, 4, 0, 0),
 datetime.datetime(2004, 4, 4, 0, 0),
 'May-04',
 'Jun-04',
 'Jul-04',
 'Aug-04',
 'Sep-04',
 ' Oct-04',
 'Nov-04',
 'Dec-04',
 datetime.datetime(2005, 1, 4, 0, 0),
 datetime.datetime(2005, 2, 4, 0, 0),
 datetime.datetime(2005, 3, 4, 0, 0),
 datetime.datetime(2004, 4, 4, 0, 0),
 'May-05',
 'Jun-05',
 'Jul-05',
 'Aug-05',
 'Sep-05',
 'Oct-05',
 'Nov-05',
 'Dec-05',
 datetime.datetime(2006, 1, 1, 0, 0),
 datetime.datetime(2006, 2, 1, 0, 0),
 datetime.datetime(2006, 3, 1, 0, 0),
 'Apr-06',
 'May-06',
 datetime.datetime(2006, 6, 1, 0, 0),
 datetime.datetime(2006, 7, 1, 0, 0),
 datetime.datetime(2006, 8, 1, 0, 0),
 datetime.datetime(2006, 9, 1, 0, 0),
 datetime.datetime(2006, 10, 1, 0, 0),
 datetime.datetime(2006, 11, 1, 0, 0),
 datetime.datetime(2006, 12, 1, 0, 0),
 datetime.datetime(2007, 1, 1, 0, 0),
 datetime.datetime(2007, 2, 1, 0, 0),
 datetime.datetime(2007, 3, 1, 0, 0),
 datetime.datetime(2007, 4, 1, 0, 0),
 datetime.datetime(2007, 5, 1, 0, 0),
 datetime.datetime(2007, 6, 1, 0, 0),
 datetime.datetime(2007, 7, 1, 0, 0),
 datetime.datetime(2007, 8, 1, 0, 0),
 datetime.datetime(2007, 9, 1, 0, 0),
 datetime.datetime(2007, 10, 1, 0, 0),
 datetime.datetime(2007, 11, 1, 0, 0),
 datetime.datetime(2007, 12, 1, 0, 0),
 datetime.datetime(2008, 1, 1, 0, 0),
 datetime.datetime(2008, 2, 1, 0, 0),
 datetime.datetime(2008, 3, 1, 0, 0),
 datetime.datetime(2008, 4, 1, 0, 0),
 datetime.datetime(2008, 5, 1, 0, 0),
 datetime.datetime(2008, 6, 1, 0, 0),
 datetime.datetime(2008, 7, 1, 0, 0),
 datetime.datetime(2008, 8, 1, 0, 0),
 datetime.datetime(2008, 9, 1, 0, 0),
 datetime.datetime(2008, 10, 1, 0, 0),
 datetime.datetime(2008, 11, 1, 0, 0),
 datetime.datetime(2008, 12, 1, 0, 0),
 datetime.datetime(2009, 1, 1, 0, 0),
 datetime.datetime(2009, 2, 1, 0, 0),
 datetime.datetime(2009, 3, 1, 0, 0),
 datetime.datetime(2009, 4, 1, 0, 0),
 datetime.datetime(2009, 5, 1, 0, 0),
 datetime.datetime(2009, 6, 1, 0, 0),
 datetime.datetime(2009, 7, 1, 0, 0),
 datetime.datetime(2009, 8, 1, 0, 0),
 datetime.datetime(2009, 9, 1, 0, 0),
 datetime.datetime(2009, 10, 1, 0, 0),
 datetime.datetime(2009, 11, 1, 0, 0),
 datetime.datetime(2009, 12, 1, 0, 0),
 datetime.datetime(2010, 1, 1, 0, 0),
 datetime.datetime(2010, 2, 1, 0, 0),
 datetime.datetime(2010, 3, 1, 0, 0),
 datetime.datetime(2010, 4, 1, 0, 0),
 datetime.datetime(2010, 5, 1, 0, 0),
 datetime.datetime(2010, 6, 1, 0, 0),
 datetime.datetime(2010, 7, 1, 0, 0),
 datetime.datetime(2010, 8, 1, 0, 0),
 datetime.datetime(2010, 9, 1, 0, 0),
 datetime.datetime(2010, 10, 1, 0, 0),
 datetime.datetime(2010, 11, 1, 0, 0),
 datetime.datetime(2010, 12, 1, 0, 0),
 datetime.datetime(2011, 1, 1, 0, 0),
 datetime.datetime(2011, 2, 1, 0, 0),
 datetime.datetime(2011, 3, 1, 0, 0),
 datetime.datetime(2011, 4, 1, 0, 0),
 datetime.datetime(2011, 5, 1, 0, 0),
 datetime.datetime(2011, 6, 1, 0, 0),
 datetime.datetime(2011, 7, 1, 0, 0),
 datetime.datetime(2011, 8, 1, 0, 0),
 datetime.datetime(2011, 9, 1, 0, 0),
 datetime.datetime(2011, 10, 1, 0, 0),
 datetime.datetime(2011, 11, 1, 0, 0),
 datetime.datetime(2011, 12, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0),
 datetime.datetime(2012, 3, 1, 0, 0),
 datetime.datetime(2012, 4, 1, 0, 0),
 datetime.datetime(2012, 5, 1, 0, 0),
 datetime.datetime(2012, 6, 1, 0, 0),
 datetime.datetime(2012, 7, 1, 0, 0),
 datetime.datetime(2012, 8, 1, 0, 0),
 datetime.datetime(2012, 9, 1, 0, 0),
 datetime.datetime(2012, 10, 1, 0, 0),
 datetime.datetime(2012, 11, 1, 0, 0),
 datetime.datetime(2012, 12, 1, 0, 0),
 datetime.datetime(2013, 1, 1, 0, 0),
 datetime.datetime(2013, 2, 1, 0, 0),
 datetime.datetime(2013, 3, 1, 0, 0),
 datetime.datetime(2013, 4, 1, 0, 0),
 datetime.datetime(2013, 5, 1, 0, 0),
 datetime.datetime(2013, 6, 1, 0, 0),
 datetime.datetime(2013, 7, 1, 0, 0),
 datetime.datetime(2013, 8, 1, 0, 0),
 datetime.datetime(2013, 9, 1, 0, 0),
 datetime.datetime(2013, 10, 1, 0, 0),
 datetime.datetime(2013, 11, 1, 0, 0),
 datetime.datetime(2013, 12, 1, 0, 0),
 datetime.datetime(2014, 1, 1, 0, 0),
 datetime.datetime(2014, 2, 1, 0, 0),
 datetime.datetime(2014, 3, 1, 0, 0),
 datetime.datetime(2014, 4, 1, 0, 0),
 datetime.datetime(2014, 5, 1, 0, 0),
 datetime.datetime(2014, 6, 1, 0, 0),
 datetime.datetime(2014, 7, 1, 0, 0),
 datetime.datetime(2014, 8, 1, 0, 0),
 datetime.datetime(2014, 9, 1, 0, 0),
 datetime.datetime(2014, 10, 1, 0, 0),
 datetime.datetime(2014, 11, 1, 0, 0),
 datetime.datetime(2014, 12, 1, 0, 0),
 datetime.datetime(2015, 1, 1, 0, 0),
 datetime.datetime(2015, 2, 1, 0, 0),
 datetime.datetime(2015, 3, 1, 0, 0),
 datetime.datetime(2015, 4, 1, 0, 0),
 datetime.datetime(2015, 5, 1, 0, 0),
 datetime.datetime(2015, 6, 1, 0, 0),
 datetime.datetime(2015, 7, 1, 0, 0),
 datetime.datetime(2015, 8, 1, 0, 0),
 datetime.datetime(2015, 9, 1, 0, 0)]

In [133]:
df.index.to_period("M")

PeriodIndex(['2000-03', '2000-05', '2000-08'], dtype='period[M]')

In [134]:
# coffeePriceTrends["MONTH"].astype('str')[:9]
coffeePriceTrends.index.name

'MONTH'

In [137]:
coffeePriceTrends.index = pd.to_datetime(coffeePriceTrends.index, format='%m/%d/%Y').strftime('%Y-%m-%d')

ValueError: time data "Feb-01" doesn't match format "%m/%d/%Y", at position 103. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [145]:
# coffeePriceTrends.index = pd.to_datetime(coffeePriceTrends.index, format = '%Y-%m-%d %H:%M:%S').strftime('%Y-%m-%d')