<h1>Coffee Trends</h1>

In [66]:
import pandas as pd
from ydata_profiling import ProfileReport
from datetime import datetime

In [3]:
coffeePriceTrends = pd.read_excel("../Datasets/Price_Trend_1992_93_2015_USD.xls")

In [4]:
coffeePriceTrends = coffeePriceTrends.drop(['Unnamed: 0', 'Unnamed: 9'],
                      axis=1,
                      )

In [5]:
coffeePriceTrends

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,AVERAGE PRICES PAID TO FARMERS AND PROCESSORS ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DEC 2013 IN UGANDA SHILLINGS PER KILOGRAM (U ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Shs,NaN,NaN,NaN,$,NaN,NaN
3,MONTH,ROBUSTA KIBOKO,ROBUSTA FAQ,ARABICA PARCHMENT,EX.RATE Sh/Kg,ROBUSTA KIBOKO,ROBUSTA FAQ,ARABICA PARCHMENT
4,1992-07-01 00:00:00,210,420,499,1177.86,0.178289,0.356579,0.42365
...,...,...,...,...,...,...,...,...
280,2015-07-01 00:00:00,2200,4350,5850,3360.09,0.654744,1.294608,1.741025
281,2015-08-01 00:00:00,2200,4500,6250,3548.25,0.620024,1.268231,1.761432
282,2015-09-01 00:00:00,2150,4250,5750,3667.5,0.58623,1.158828,1.567825
283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,Source: UCDA Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
columnNames = coffeePriceTrends.loc[3].tolist()

In [7]:
columnNames

['MONTH',
 'ROBUSTA KIBOKO',
 'ROBUSTA FAQ',
 'ARABICA PARCHMENT',
 'EX.RATE Sh/Kg',
 'ROBUSTA KIBOKO',
 'ROBUSTA FAQ',
 'ARABICA PARCHMENT']

In [8]:
coffeePriceTrends.drop(coffeePriceTrends.index[:4], inplace=True,
                       axis=0,
                      )

In [9]:
coffeePriceTrends['Unnamed: 1']

4        1992-07-01 00:00:00
5        1992-08-01 00:00:00
6        1992-09-01 00:00:00
7        1992-10-01 00:00:00
8        1992-11-01 00:00:00
               ...
280      2015-07-01 00:00:00
281      2015-08-01 00:00:00
282      2015-09-01 00:00:00
283                      NaN
284    Source: UCDA Database
Name: Unnamed: 1, Length: 281, dtype: object

In [10]:
oldColumnNames = coffeePriceTrends.columns.tolist()

In [11]:
oldColumnNames

['Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8']

In [12]:
{oldColumnNames[x]:columnNames[x] for x in range(len(columnNames))}

{'Unnamed: 1': 'MONTH',
 'Unnamed: 2': 'ROBUSTA KIBOKO',
 'Unnamed: 3': 'ROBUSTA FAQ',
 'Unnamed: 4': 'ARABICA PARCHMENT',
 'Unnamed: 5': 'EX.RATE Sh/Kg',
 'Unnamed: 6': 'ROBUSTA KIBOKO',
 'Unnamed: 7': 'ROBUSTA FAQ',
 'Unnamed: 8': 'ARABICA PARCHMENT'}

In [13]:
columnNames

['MONTH',
 'ROBUSTA KIBOKO',
 'ROBUSTA FAQ',
 'ARABICA PARCHMENT',
 'EX.RATE Sh/Kg',
 'ROBUSTA KIBOKO',
 'ROBUSTA FAQ',
 'ARABICA PARCHMENT']

In [14]:
coffeePriceTrends = coffeePriceTrends.rename(columns={oldColumnNames[x]:columnNames[x] for x in range(len(columnNames))})

In [15]:
coffeePriceTrends = coffeePriceTrends.set_index('MONTH')

In [16]:
coffeePriceTrends.iloc[103]

ROBUSTA KIBOKO               300
ROBUSTA FAQ                  770
ARABICA PARCHMENT           1250
EX.RATE Sh/Kg        1742.966316
ROBUSTA KIBOKO           0.17212
ROBUSTA FAQ             0.441776
ARABICA PARCHMENT       0.717168
Name: Feb-01, dtype: object

In [17]:
index = pd.MultiIndex.from_arrays([["UGX", "UGX", "UGX", "EX.RATE", "USD", "USD", "USD"],
                                   ["ROBUSTA KIBOKO", "ROBUSTA FAQ", "ARABICA PARCHMENT", "EX.RATE Sh/Kg", "ROBUSTA KIBOKO", "ROBUSTA FAQ", "ARABICA PARCHMENT"]])

In [18]:
coffeePriceTrends.columns = index

In [19]:
coffeePriceTrends

                                 UGX                                \
                      ROBUSTA KIBOKO ROBUSTA FAQ ARABICA PARCHMENT
MONTH
1992-07-01 00:00:00              210         420               499
1992-08-01 00:00:00              220         440               500
1992-09-01 00:00:00              215         400               502
1992-10-01 00:00:00              225         450               510
1992-11-01 00:00:00              250         500               550
...                              ...         ...               ...
2015-07-01 00:00:00             2200        4350              5850
2015-08-01 00:00:00             2200        4500              6250
2015-09-01 00:00:00             2150        4250              5750
NaN                              NaN         NaN               NaN
Source: UCDA Database            NaN         NaN               NaN

                            EX.RATE            USD              \
                      EX.RATE Sh/Kg ROBUSTA KIBOKO ROBUSTA FAQ
MONTH
1992-07-01 00:00:00         1177.86       0.178289    0.356579
1992-08-01 00:00:00         1185.29       0.185609    0.371217
1992-09-01 00:00:00         1185.15       0.181412     0.33751
1992-10-01 00:00:00         1181.07       0.190505     0.38101
1992-11-01 00:00:00         1196.34       0.208971    0.417941
...                             ...            ...         ...
2015-07-01 00:00:00         3360.09       0.654744    1.294608
2015-08-01 00:00:00         3548.25       0.620024    1.268231
2015-09-01 00:00:00          3667.5        0.58623    1.158828
NaN                             NaN            NaN         NaN
Source: UCDA Database           NaN            NaN         NaN


                      ARABICA PARCHMENT
MONTH
1992-07-01 00:00:00             0.42365
1992-08-01 00:00:00            0.421838
1992-09-01 00:00:00            0.423575
1992-10-01 00:00:00            0.431812
1992-11-01 00:00:00            0.459736
...                                 ...
2015-07-01 00:00:00            1.741025
2015-08-01 00:00:00            1.761432
2015-09-01 00:00:00            1.567825
NaN                                 NaN
Source: UCDA Database               NaN

[281 rows x 7 columns]

<h3>Dataset Profiling</h3>

In [20]:
# stats = []
# for cl in coffeePriceTrends.columns:
#     stats.append((cl,
#                   coffeePriceTrends[cl].nunique(),
#                   coffeePriceTrends[cl].isnull().sum(),
#                   coffeePriceTrends[cl].isnull().sum() * 100 / coffeePriceTrends.shape[0],
#                   coffeePriceTrends[cl].value_counts(normalize=True, dropna=False).values[0] * 100,
#                   coffeePriceTrends[cl].dtype))
# stats_df = pd.DataFrame(stats, columns=['Feature',
#                                         'Unique Values',
#                                         'Missing Values',
#                                         'Missing Values [%]',
#                                         'Values in the biggest category [%]',
#                                         'Datatype'])
# stats_df.sort_values('Missing Values [%]', ascending=False)

In [21]:
# ProfileReport(coffeePriceTrends,
#                                 title="Coffee",
#                             )

<h3>Time Series</h3>

<ul>To Do</ul>
<li>Manipulate the Month Index to uniform format</li>
<li>Convert Index to format yyyy-mm-dd</li>
<li>Calculate mean values for year and month</li>
<li>...</li>

In [22]:
# Datetime index yyyy-mm-dd
# Get
coffeePriceTrends = coffeePriceTrends.dropna()

In [33]:
type(coffeePriceTrends.index.tolist()[0])

datetime.datetime

In [81]:
# list str item in index
indexList = coffeePriceTrends.index.tolist()
for i in range(len(indexList)):
    if type(indexList[i]) != datetime:
        idate = datetime.strptime(indexList[i].strip(), '%b-%d')
        # idate.year = datetime(2003)
        if i > 1:
            if idate.year !=  datetime.strptime(indexList[i-1].strip(), '%b-%d'):
                idate.year = datetime.strptime(indexList[i-1].strip(), '%b-%d').year
        print(idate)

TypeError: strptime() argument 1 must be str, not datetime.datetime

In [53]:
for i in range(len(indexList)):
    if i > 1 and type(indexList[i+1]) != datetime:
        print(indexList[i].year)

2001
2001

AttributeError: 'str' object has no attribute 'year'

In [41]:
indexList[0].year

1992

In [28]:
df.index.to_period("M")

PeriodIndex(['2000-03', '2000-05', '2000-08'], dtype='period[M]')

In [29]:
# coffeePriceTrends["MONTH"].astype('str')[:9]
coffeePriceTrends.index.name

'MONTH'

In [30]:
coffeePriceTrends.index = pd.to_datetime(coffeePriceTrends.index, format='%m/%d/%Y').strftime('%Y-%m-%d')

ValueError: time data "Feb-01" doesn't match format "%m/%d/%Y", at position 103. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
# coffeePriceTrends.index = pd.to_datetime(coffeePriceTrends.index, format = '%Y-%m-%d %H:%M:%S').strftime('%Y-%m-%d')